<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coach</title>
</head>
<body>
    <body>
        <ul>
            {% for coach in coachs %}
            <li>{{coach.name}} (<strong>{{coach.team.name}}</strong>)</li>
            {% endfor %}
        </ul>
    </body>
    </html>
</body>
</html>