<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Basket App</title>



</head>
<body>
    <br>
    <br>
    <br>
    <h1>Basket App</h1>
    <br>
    <br>
    <br>
    

    <ul>
        <a href="{% url 'Game:indexCoach' %}"> Entrenadores</a>
        <br>
        <a href="{% url 'Game:indexTeam' %}">Equipos</a>
        <br>
        <a href="{% url 'Game:indexPlayer' %}">Jugadores</a>
        <br>
        <a href="{% url 'Game:matchs_list' %}">Partidas jugadas</a>
        <br>

    </ul>
    <h2>Last 5 players</h2>
        
    <ul>
        {% for player in last_5_players %}
        <li>{{player.name}} ({{player.nickname}})</li>
        {% endfor %}
    </ul>

    <h2>Last 5 Matchs</h2>
    <ul>
        {% for match in last_5_matchs %}
        <li>{{match.team1.player.first.team.name}} <strong>VS</strong> {{match.team2.player.first.team.name}}</li>
        {% endfor %}
    </ul>
    
    <h2>Teams</h2>
    <ul>
        {% for team in teams %}
        <li>{{team.name}} (tiene {{team.count_player}} jugadores)</li>
        {% endfor %}
    </ul>

</body>
</html>