<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
    <title>Coach</title>
</head>
<body>
    <body>
        <ul>
            {% for match in matchs %}
            <br>
            <br>
            <li>{{match.team1.player.first.team.name}} <strong>VS</strong> {{match.team2.player.first.team.name}}</li>
            <br>
            <br>
            {% endfor %}
        </ul>
    </body>
    </html>
</body>
</html>