<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player list</title>
</head>
<body>

    {% for team in teams %}
        <h2>{{team.name}}</h2>
        {% for player in team.players %}
        <li>{{player.name}}</li>
        {% endfor %}


    {% endfor %}
    
</body>
</html>