<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


  <title>{ </title>
</head>
<body>


<a href="{% url 'Game:home' %}">back to home</a><br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>name</th>
      <th>nickname</th>
      <th>birthday</th>
      <th>age</th>
      <th>rut</th>
      <th>email</th>
      <th>height</th>
      <th>weight</th>
      <th>photo</th>
      <th>team</th>
      <th>position</th>
      <th>Activity</th>
    </tr>
  </thead>
  <tbody>
    <a href="{% url 'Game:Player_add' %}">add</a>
    {% for b in Player %}
    <tr>
      <td>{{ b.name }}</td>
      <td>{{ b.nickname }}</td>
      <td>{{ b.birthday }}</td>
      <td>{{ b.age }}</td>
      <td>{{ b.rut }}</td>
      <td>{{ b.email }}</td>
      <td>{{ b.height }}</td>
      <td>{{ b.weight }}</td>
      <td>{{ b.photo }}</td>
      <td>{{ b.team }}</td>
      <td>{{ b.position }}</td>

      <td>
        <a href="{% url 'Game:Player_update' b.id %}">edit</a>
        <a href="{% url 'Game:Player_delete' b.id %}">delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


</body>
</html>