<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


  <title>{ </title>
</head>
<body>


<a href="{% url 'Game:home' %}">back to home</a><br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>name</th>
      <th>description</th>
      <th>code</th>
      <th>coach</th>
      <th>Activity</th>
    </tr>
  </thead>
  <tbody>
    <a href="{% url 'Game:Team_create' %}">add</a>
    {% for b in Team %}
    <tr>
      <td>{{ b.name }}</td>
      <td>{{ b.description }}</td>
      <td>{{ b.code }}</td>
      <td>{{ b.coach }}</td>
      <td>
        <a href="{% url 'Game:Team_update' b.id %}">edit</a>
        <a href="{% url 'Game:Team_delete' b.id %}">delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


</body>
</html>